<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset=“utf-8”>
    <title>
        Pagina utente
    </title>
    <script>
        function showUserForm() {
            document.getElementById("userForm").style.display = "block";
        }
        function showRatingForm() {
            document.getElementById("ratingForm").style.display = "block";
        }
    </script>
</head>

<body>
    <h1>
        Gestione utente
    </h1>

    <p>
    <input type="button" id="userModButton" name="userModButton" value="Modifica dettagli account" onclick="showUserForm()" />
    <form method="post" action="/users/<%= user.username %>?_method=PUT" id="userForm" style="display: none">
        Nome:&nbsp<input type="text" name="name" placeholder="<%= user.name %>">
        Cognome:&nbsp<input type="text" name="last" placeholder="<%= user.last %>">
        Età:&nbsp<input type="number" min="1" max="110" name="age" placeholder="<%= user.age %>">
        Genere:&nbsp<%= user.gender %>
            <select id="gender" name="gender">
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
            </select>
        E-mail:&nbsp<input type="email" name="email" placeholder="<%= user.email %>">
        <input type="submit" id="save" name="save" value="Salva">
    </form>
    </p>

    <p>
    <form method="post" action="/users/<%= user.username %>?_method=DELETE" id="delForm">
        <input type="submit" id="delButton" name="delButton" value="Elimina utente" onclick="return confirm('Confermare eliminazione di <%= user.username %> ?');">
    </form>
    </p>

    <p>
    <input type="button" id="addRatingButton" name="addRatingButton" value="Inserisci un rating" onclick="showRatingForm()" />
    <form method="post" action="/ratings/" id="ratingForm" style="display: none;">
        <input type="hidden" id="userId" name="userId" value="<%= user.username %>">
        Film:&nbsp<input type="text" id="movieTitle" name="movieTitle" placeholder="nome (anno)">
        Voto:&nbsp<input type="number" id="movieRating" name="movieRating" min="0" max="5" placeholder="0 - 5">
        <input type="submit" value="Registra preferenza" onclick="return confirm('Procedere?');">
    </form>
    </p>

    <p>
    <form method="get" action="/users/<%= user.username %>/preferences">
        <input type="submit" value="Vai alle preferenze">
    </form>
    </p>
</body>

</html>
