<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset=“utf-8”>
    <title>
        Preferenza film
    </title>
    <link href="/public/assets/style.css" rel="stylesheet"  type="text/css">
</head>

<body>
    <p>
    <form method="post" action="/users/<%= user %>/preferences">

        <p>
        <fieldset>
            <legend>Seleziona una delle due opzioni</legend>
            <div id="show-pair">
                <input type="hidden" id="movie_one" name="movie_one" value="<%= film_one.movieId %>">
                <input type="hidden" id="movie_two" name="movie_two" value="<%= film_two.movieId %>">
                <div class="content-box">
                    <img src="<%= imdb_one %>" class="img"><br/>
                    <input type="radio" id="opz_one" name="opz" value="<%= film_one.movieId %>">
                    <label for="opz_one">
                        <%= film_one.title %>
                    </label><br>
                </div class="content-box">
                <div>
                    <img src="<%= imdb_two %>" class="img"><br/>
                    <input type="radio" id="opz_two" name="opz" value="<%= film_two.movieId %>">
                    <label for="opz_two">
                        <%= film_two.title %>
                    </label><br>
                </div>
            </div>
        </fieldset>
        </p>

        <input type="submit" id="continua" value="Continua" onclick="return confirm('Confermare la scelta?');">
    </form>
    </p>

    <p>
        <% if(count>= 3) { %>
            <a href="http://localhost:5000/home">
                <input type="button" id="stop" name="stop" value="Termina registrazione"
                    onclick="return confirm('Terminare la registrazione?');">
            </a>
            <% } %>
    </p>
</body>

</html>