<!DOCTYPE html>
<html>

<head>
    <title>
        Preferenza film
    </title>
    <script>
        function start() {
            let counter = 0;
            document.getElementById("scelta").style.visibility = "block";
        }
    </script>
</head>

<body>
    <p><a href="http://localhost:5000/users/<%=user%>/preferences"></a>
    </p>

    <p><input type="button" id="start" name="start" value="Avvia" onclick="start()"></p>

    <p>
    <fieldset id="scelta" style="display: none;">
        <legend>Seleziona una delle due opzioni</legend>
        <form method="post" action="/users/<%=user%>/preferences">
            <input type="hidden" id="movie_one" name="movie_one" value="<%= film_one.movieId %>" />
            <input type="hidden" id="movie_two" name="movie_two" value="<%= film_two.movieId %>" />
            <input type="radio" id="opz_one" name="opz" value="<%=film_one.movieId%>" />
            <label for="opz_one">
                <%= film_one.title %>
            </label><br>
            <input type="radio" id="opz_two" name="opz" value="<%=film_two.movieId%>" />
            <label for="opz_two">
                <%= film_two.title %>
            </label>

            </p>
            <input type="submit" value="Continua" onclick="return confirm('Confermare la scelta?')" />
        </form>
    </fieldset>
</body>

</html>